<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-section">
        <div class="footer-links-vertical">
          <a href="privacy.html" class="nav-link">Конфиденциальность</a>
          <a href="terms.html" class="nav-link">Условия</a>
          <a href="llicense.html" class="nav-link">Лицензия</a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2025-<span id="currentYear">Год</span> TAIPrompts</p>
    </div>
  </div>
</footer>
