<header class="header">
  <div class="container">
    <nav class="nav">
      <a href="https://timoshamoscow.github.io/taiprompts.github.io/" class="logo">
        <img src="images/logo.png" alt="TAIPrompts" class="logo-img">
        <span class="logo-text">TAIPrompts</span>
      </a>
      <ul class="nav-list">
        <li><a href="https://timoshamoscow.github.io/taiprompts.github.io/" class="nav-link">Главная</a></li>
        <li><a href="generator.html" class="nav-link">Генератор</a></li>
        <li><a href="pricing.html" class="nav-link">Тарифы</a></li>
        <li><a href="development.html" class="nav-link">Развитие</a></li>
      </ul>
      <div class="burger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </nav>
  </div>
</header>
